html,
body {
    transition: all 300ms ease-in-out;
}

.hero {
    background-image: url("../img/mountains.jpg");
    background-size: cover;
    background-position: 25% 75%;
}

nav {
    margin-bottom: 3rem;
}

.hero nav ul li a,
li.logo,
.hero header a {
    color: var(--contrast);
}

.logo {
    font-family: 'Love Ya Like A Sister';
    font-size: 20px;
}

header {
    padding-bottom: 3rem;
}

header hgroup {
    padding-bottom: 1rem;
}

header hgroup h2 {
    color: #b5e1ff;
}

.grid#grid2 {
    margin-bottom: 3rem;
}


@media only screen and (min-width: 768px) {
    .grid img {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .grid img {
        margin-bottom: 15px;
    }
}

.grid img:hover {
    box-shadow: 0 0 0 0.3rem #b5e1ff;
    transition: all 250ms ease-in-out;
}

a {
    color: #3949ab;
    text-decoration: underline;
}

nav ul li a {
    text-decoration: none;
}

a:hover {
    color: #b5e1ff;
    text-decoration: none;
}

textarea {
    resize: none;
}

#switcher {
    color: #edf0f3;
}

#switcher:hover {
    color: #24333e;
    transition: all 250ms ease-in-out;
}

footer {
    color: #edf0f3;
    background-color: #24333e;
    text-align: center;
}

html[data-theme="light"] {
    header hgroup h1,
    nav ul li a,
    #button1 {
        color: #edf0f3;
    }

    a:hover {
        color: #0099ff;
        text-decoration: none;
    }

    .grid img:hover {
        box-shadow: 0 0 0 0.3rem #0099ff;
        transition: all 250ms ease-in-out;
    }

    footer p {
        color: #edf0f3;
    }
}

html[data-theme="dark"] {
    a:hover {
        color: #b5e1ff;
        text-decoration: none;
    }
}